.console-text {
	-fx-text-fill: white;
	-fx-font-family: monospace;
	-fx-font-size: 10pt;
}
.console-text .content {
	-fx-background-color: black
}

.student-name {
	-fx-font-size: 12pt;
	-fx-font-weight: bold; 
}

.score {
	-fx-font-size: 11pt;
	-fx-font-weight: bold; 
}

.submission-title {
	-fx-font-size: 11pt;
	-fx-font-weight: bold; 
}

.no-selection-pane {
	-fx-background-color: #00000088;
}

.no-selection-label {
	-fx-font-weight: bold;
	-fx-text-fill: orange;
}